page-listing {
    .category-product-listing .name,.category-product-listing .vendor,.category-product-listing .price{font-size: 13px;color:#000;font-weight: normal;}
    .category-product-listing .vendor,
    .category-product-listing .price{margin: 0px;font-weight: normal;margin-bottom: 6px;}
    .category-product-listing .name{margin-top: 9px;margin-bottom:3px;}
    .category-product-listing .price{margin-bottom:17px;}
    .category-product-listing img{margin-top:17px;height: 180px;width: 180px;}
    .bar-buttons-md[end][text-center] {text-align: center;}
    .top-filter-tool-bar.item-ios.item-block .item-inner{border: none;}
    .top-filter-tool-bar.item-ios.item-block .select{color: #c8c7cc;}
    .top-filter-tool-bar .searchbar-ios {background: none;border:0.55px solid rgba(0, 0, 0, 0.05);}
    .order-by-icon,.search-icon,.list-icon,.grid-icon{margin-top: 11px;font-size: 25px;}
    .top-filter-tool-bar ion-col{padding:0px;}
    .list-icon{margin-left:13px}
    .grid-icon{margin-left:17px;}
    .filter-icon{margin-top: 11px;}
    .order-by-icon{margin-right: 13px !important;}
    .search-icon{margin-right: 17px !important;}
    .like-icon{position: absolute;bottom:3px;right: 14px;color: #fff;}
    .category-product-listing ion-col {position: relative;}
    .product-items{width:100%;}

    // Grid View
    .grid-view .product-items{ width: 50%; float: left;text-align: center;padding: 0px;}
    .grid-view .list-md .label-md{margin: 0px; }
    .grid-view .detail-section .vendor{display: none;}
    
    // List View
    .list-view.category-product-listing .gallery-section,.list-view.category-product-listing .detail-section {float: left;width: 50%;text-align: center;}
    .list-view.category-product-listing .detail-section {margin-top: 7px;padding-top: 51px;}
    .list-view .label-md {margin:0px;}
    .vendor{font-weight: bold;}
    .top-filter-tool-bar button{background: none;}
    .gallery-section{position:relative;}
    
    @media screen and (orientation:landscape) {
        .gallery-section{width: 183px! important;margin: 0 auto;}
    }
    
}
    