<ion-header>
  <ion-navbar persistent="true" >
    <ion-title>{{ _config.translate(title, title_ar) }}</ion-title>
    <!--<ion-buttons end>
      <button ion-button menuToggle="right" >
          <ion-icon name="calendar"></ion-icon>
      </button>
    </ion-buttons>-->
    <ion-buttons end>
      <ion-badge *ngIf="cartCount > 0" class="cart-indicator" color="danger">{{ cartCount }}</ion-badge>
      <button ion-button (click)="openModel()" >
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-row no-line class="top-filter-tool-bar">
        <ion-col text-left>
          <button (click)="changeView('list-view')" left float-left><ion-icon class="list-icon" name="menu"></ion-icon></button>
          <button (click)="changeView('grid-view')" left float-left ><ion-icon class="grid-icon" name="apps"></ion-icon></button>
        </ion-col>
        <ion-col text-right>
            <button (click)="searchFilter()">
              <ion-icon class="filter-icon" name="funnel"></ion-icon>
              <ion-badge *ngIf="filterCount > 0">{{ filterCount }}</ion-badge>
            </button>
            <button (click)="openSearchModel()" float-right><ion-icon class="search-icon" name="search"></ion-icon></button>
        </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="category-product-listing {{productView}}">
    <ion-row>
      <ion-col class="scroll-content" *ngFor="let product of products" align-items-center col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 class="product-items" (click)="productDetail(product.item_id)">
        <button detail-none ion-item>
          <div class="gallery-section">
            <!--
            <ion-icon class="like-icon" name="heart-outline"></ion-icon>
            -->
            <ion-thumbnail class="avatarImage">
              <img [defaultImage]="defaultImage" [lazyLoad]="_config.images_210 + '/' + product.image" [offset]="imageOffset">
            </ion-thumbnail>
            <div *ngIf="product.notice != ''" class="callout-container">
                <span class="callout light">
                   {{ "Notice" | translate }} : {{product.notice}}
                </span>
            </div>
          </div>
          <div class="detail-section text-center">
            <h4 class="name">
              <strong>{{ _config.translate(product.item_name, product.item_name_ar) }}</strong>
            </h4>
            <h4 class="vendor"> {{ _config.translate(product.vendor_name, product.vendor_name_ar) }}</h4>            
            <h6 class="price">
              <span *ngIf="product.item_base_price > 0">
                 KD {{ product.item_base_price }}
              </span>
              <span *ngIf="!product.item_base_price && product.min_order_amount > 0">
                 KD {{ product.min_order_amount }}
              </span>
              <span *ngIf="!product.item_base_price && !product.min_order_amount">
                 {{ "Price based on selection" | translate }} 
              </span>
            </h6>            
          </div>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div *ngIf="products !== undefined && !products.length" class="no-results">
    <h3 text-center>{{ "No Product Found" | translate }}</h3>
  </div>
</ion-content>
