<ion-header>
  <ion-navbar persistent="true" >
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button menuToggle="right" >
          <ion-icon name="calendar"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <ion-badge *ngIf="_cartCount.count > 0" class="cart-indicator" color="danger">&nbsp;</ion-badge>
      <button ion-button (click)="openModel()" >
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-row no-line class="top-filter-tool-bar">
        <ion-col text-left>
          <button (click)="changeView('list-view')" left float-left><ion-icon class="list-icon" name="menu"></ion-icon></button>
          <button (click)="changeView('grid-view')" left float-left ><ion-icon class="grid-icon" name="apps"></ion-icon></button>
        </ion-col>
        <ion-col  text-center>
          <button (click)="searchFilter()"><ion-icon class="filter-icon" name="funnel"></ion-icon></button>
        </ion-col>
        <ion-col text-right>
            <button  float-right><ion-icon class="order-by-icon" name="stats"></ion-icon></button>
            <button (click)="openSearchModel()" float-right><ion-icon class="search-icon" name="search"></ion-icon></button>
        </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid class="category-product-listing {{productView}}">
    <ion-list class="scroll-content" [virtualScroll]="products">
        <button detail-none ion-item *virtualItem="let products " class="product-items" (click)="productDetail(products.item_id)">
          <div class="gallery-section">
            <ion-icon class="like-icon" name="heart-outline"></ion-icon>
            <ion-thumbnail class="avatarImage">
              <ion-img src="{{_config.images_530}}/{{products.image}}" ></ion-img>
            </ion-thumbnail>
          </div>
          <div class="detail-section text-center">
            <h4 class="name"><strong>{{products.item_name}}</strong></h4>
            <h6 class="price">KD {{products.item_price_per_unit}}</h6>
            <h4 class="vendor"> {{products.vendor_name}}</h4>
          </div>
        </button>
      </ion-list>
  </ion-grid>

  <div *ngIf="products !== undefined && !products.length" class="no-results">
      <h3 text-center>No Product Found</h3>
    </div>
</ion-content>
