<ion-header *ngIf= "bookingDetail">
  <ion-navbar>
    <ion-title>Booking Detail : KD {{bookingDetail.total_with_delivery}}</ion-title>
  <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close" ></ion-icon>
      </button>
    </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding *ngIf= "bookingDetail" style="margin-top:40px;">
    <ion-list>  
        <ion-item>
          <ion-row *ngFor = "let item of bookingDetail?.items ">
              <ion-col>
                <h2>{{item?.item_name}}</h2>
                <p> QTY :      {{ item?.quantity }}</p>
                <p> Date :     {{ item?.delivery_date }}</p>
                <p> Time :     {{ item?.timeslot }} </p>
                <h2>Price : KD {{ item?.total }}</h2>
              </ion-col>
              <ion-col>
                <h2> Address </h2>  
                <p innerHTML = "{{ item?.delivery_address }}"></p>                
              </ion-col>
          </ion-row>
        </ion-item>
    </ion-list>
    <ion-row>
    <ion-col>Subtotal:</ion-col>
    <ion-col text-right><strong>KD {{bookingDetail?.total_without_delivery}}</strong></ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Delivery Charge:</ion-col>
    <ion-col text-right><strong>KD {{bookingDetail?.total_delivery_charge}}</strong></ion-col>
  </ion-row>
  <hr/>
  <ion-row>
    <ion-col><strong>Total:</strong></ion-col>
    <ion-col text-right><strong>KD {{bookingDetail?.total_with_delivery}}</strong></ion-col>
  </ion-row>
</ion-content>
