<ion-header>
  <ion-navbar>
    <ion-title text-center>{{ "Community" | translate }}</ion-title>    
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-item-group *ngFor="let item of community; let i= index">
 
      <ion-item-divider light>{{ keys[i] }}</ion-item-divider>

      <ion-item *ngFor="let vendor of item" (click)="rowSelected(vendor)">
          <ion-avatar item-start>
            <img [defaultImage]="defaultImage" [errorImage]="errorImage" [lazyLoad]="_config.vendor_logo + '/' + vendor.vendor_logo_path" [offset]="0">
          </ion-avatar>
          <h2>{{ _config.translate(vendor.vendor_name, vendor.vendor_name_ar) }}</h2>
      </ion-item>
 
    </ion-item-group>

    <div *ngIf="community !== undefined && !community.length" class="no-results">
      <p text-center>{{ "No Results" | translate }}</p>
    </div>

</ion-content>
