<ion-header>
    <ion-navbar primary>
      <ion-title>{{ "Check Availability and Order" | translate }}</ion-title>
      <ion-buttons end>
        <button ion-button (click)="dismiss()">
          <ion-icon name="close" ></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content *ngIf="productForm">
 
  <div no-border top-info>
    <h2 class="title">{{ this._config.translate(product.item.item_name, product.item.item_name_ar) }}</h2>  
    <h5 *ngIf="product.notice != ''">{{ "Notice" | translate }} : {{product.notice}}</h5>

    <h5 class="price" *ngIf="total > 0">{{ "Price" | translate }} : KD {{ total }}</h5>       
    <h5 class="price" *ngIf="total == 0 && product.menu.length > 0">{{ "Price on selection of menu items" | translate }}</h5>       
    <h5 class="price" *ngIf="total == 0 && product.menu.length == 0">{{ "Price based on selection" | translate }}</h5>       
    <h5 class="lbl_min_order_amount" *ngIf="product.item.min_order_amount > 0">{{ "Min. order amount" | translate }} : KD {{ product.item.min_order_amount }}</h5>
  </div>

  <form [formGroup]="productForm" (ngSubmit)="addToCart()" novalidate>
    <ion-list class="delivery-inputs">
    <ion-item>
      <ion-label>{{ "Select Area" | translate }}</ion-label>
      <ion-select formControlName="area_id" (ionChange)= "resetValues()">
        <ion-option *ngFor="let area of vendorAreaList" value="{{area.area_id}}">
          {{ this._config.translate(area.location, area.location_ar) }}
        </ion-option>
      </ion-select>
    </ion-item>
    <div class="error-message" *ngIf="!productForm.controls.area_id.valid && (productForm.controls.area_id.touched ||  submitAttempt)">
      <p>{{ "Please Select Area" | translate }}</p>
    </div>
    <ion-item>
      <ion-label>{{ "Select Delivery Date" | translate }}</ion-label>
      <ion-datetime formControlName="delivery_date" displayFormat="YYYY-MM-DD" min="{{ todayDate }}" max="{{ maxDate }}" [(ngModel)]="delivery_date" (ionChange) = "loadTimeSlot(product.vendor.vendor_id)"></ion-datetime>
    </ion-item>
    <div class="error-message" *ngIf="productForm.controls.area_id.valid && !productForm.controls.delivery_date.valid && (productForm.controls.delivery_date.touched ||  submitAttempt)">
      <p>{{ "Please Select Date" | translate }}</p>
    </div>
    <ion-item *ngIf="timeslots.length">
      <ion-label>{{ "Select Delivary Time Slot" | translate }}</ion-label>
      <ion-select formControlName="time_slot">
          <ion-option *ngFor="let value of timeslots" value="{{ value }}">{{ value }}</ion-option>
      </ion-select>
    </ion-item>
    <div class="error-message" *ngIf="timeslots.length && productForm.controls.area_id.valid && productForm.controls.delivery_date.valid && !productForm.controls.time_slot.valid && (productForm.controls.time_slot.touched ||  submitAttempt)">
      <p>{{ "Please Select Time Slot" | translate }}</p>
    </div> 
    <div class="error-message" *ngIf="notAvailableForSelectedDate">
      <p>{{ "Item is not available on selected date" | translate }}</p>
    </div>

    <ion-item *ngIf="maxQuantity > 1 && product.type.type_name != 'Package'">
      <div class="flex_row">
        <p class="qty_label">{{ product.item.quantity_label }}</p>
        <ion-icon (click)="sub()" ios="ios-remove-circle" md="md-remove-circle"></ion-icon>
        <p class="quantity"> {{ quantity }} </p>
        <ion-icon (click)="add()" ios="ios-add-circle" md="md-add-circle"></ion-icon>
      </div>
    </ion-item>

    <!-- price -->
    <ion-item *ngIf="product.item.hide_price_chart != 1 && product.price.length > 0">
      <h1 text-center>{{ "Price Chart" | translate }}</h1>
        <div class = "row border" border>
          <div class = "price-table-col-header white-border-right col">{{ "Quantity" | translate }}</div>
          <div class = "price-table-col-header col">{{ "Price" | translate }}</div>
        </div>
        <div class = "row border" border *ngFor="let priceList of product.price">
          <div class = "price-table-col col">{{priceList.range_from}}+</div>
          <div class = "price-table-col col">KD {{priceList.pricing_price_per_unit}}</div>
        </div>
    </ion-item>
    </ion-list>
    
    <!-- addons -->

    <h2 *ngIf="product.addons.length > 0">{{ Addons | translate }}</h2>
    <div *ngIf="product.addons.length > 0">
      <div *ngFor="let addon_menu of product.addons" class="menu_list">

      <ion-list>
        <ion-list-header>
          {{ this._config.translate(addon_menu.menu_name, addon_menu.menu_name_ar) }}
          <i *ngIf="addon_menu.min_quantity > 0 || addon_menu.max_quantity > 0">{{ "Select" | translate }}</i>
          <i *ngIf="addon_menu.min_quantity > 0">{{ " atleast" | translate }} {{ addon_menu.min_quantity }}</i>
          <i *ngIf="addon_menu.max_quantity > 0">{{ " upto" | translate }} {{ addon_menu.max_quantity }}</i>
        </ion-list-header>
        
        <ion-item *ngFor="let addon_item of addon_menu.vendorItemMenuItems">
            <img src="{{_config.menu_item_thumbnail }}/{{ addon_item.image }}" item-right *ngIf="addon_item.image" (click)="showImage(addon_item.menu_item_name, addon_item.image)" />
            <div item-left>            
              <div class="lbl_menu_item">
                {{ this._config.translate(addon_item.menu_item_name, addon_item.menu_item_name_ar) }}
                <i>{{ this._config.translate(addon_item.hint, addon_item.hint_ar) }}</i>
                <i *ngIf="addon_item.price > 0">(+KD {{ addon_item.price }}) </i>                
              </div>
              <div class="qty_box_menu_item">
                <ion-icon (click)="subMenuItemQty(addon_item.menu_item_id)" ios="ios-remove-circle" md="md-remove-circle"></ion-icon>
                <ion-input formControlName="menu_item[{{addon_item.menu_item_id}}]" readonly></ion-input>
                <ion-icon (click)="addMenuItemQty(addon_item.menu_item_id)" ios="ios-add-circle" md="md-add-circle"></ion-icon>
              </div>
            </div>            
        </ion-item>
      </ion-list>
      </div>
    </div>

    <!-- menues -->

    <h2 *ngIf="product.menu.length > 0">{{ Options | translate }}</h2>
    <div *ngFor="let menu of product.menu" class="menu_list">
           
      <ion-list *ngIf="menu.quantity_type == 'selection'">

        <ion-list-header>
           {{ this._config.translate(menu.menu_name, menu.menu_name_ar) }}
           <i *ngIf="menu.min_quantity > 0 || menu.max_quantity > 0">{{ "Select" | translate }}</i>
           <i *ngIf="menu.min_quantity > 0">{{ " atleast" | translate }} {{ menu.min_quantity }}</i>
           <i *ngIf="menu.max_quantity > 0">{{ " upto" | translate }} {{ menu.max_quantity }}</i>
        </ion-list-header>

        <ion-item *ngFor="let menu_item of menu.vendorItemMenuItems">
            <img src="{{_config.menu_item_thumbnail }}/{{ menu_item.image }}" item-right *ngIf="menu_item.image" (click)="showImage(menu_item.menu_item_name, menu_item.image)" />
            <div item-left>               
              <div class="lbl_menu_item">
                {{ this._config.translate(menu_item.menu_item_name, menu_item.menu_item_name_ar) }}
                <i>{{ this._config.translate(menu_item.hint, menu_item.hint_ar) }}</i>
                <i *ngIf="menu_item.price > 0">(+KD {{ menu_item.price }}) </i>                
              </div>
              <div class="qty_box_menu_item">
                <ion-icon (click)="subMenuItemQty(menu_item.menu_item_id)" ios="ios-remove-circle" md="md-remove-circle"></ion-icon>
                <ion-input value="0" formControlName="menu_item[{{menu_item.menu_item_id}}]" readonly></ion-input>
                <ion-icon (click)="addMenuItemQty(menu_item.menu_item_id)" ios="ios-add-circle" md="md-add-circle"></ion-icon>
              </div>
            </div>
        </ion-item>
      </ion-list>

      <ion-list *ngIf="menu.quantity_type == 'checkbox'"> 

        <ion-list-header>
          {{ this._config.translate(menu.menu_name, menu.menu_name_ar) }}
          <i *ngIf="menu.min_quantity > 0 || menu.max_quantity > 0">{{ "Select" | translate }}</i>
          <i *ngIf="menu.min_quantity > 0">{{ " atleast" | translate }} {{ menu.min_quantity }}</i>
          <i *ngIf="menu.max_quantity > 0">{{ " upto" | translate }} {{ menu.max_quantity }}</i>
        </ion-list-header>

        <ion-item *ngFor="let menu_item of menu.vendorItemMenuItems">
          <img src="{{_config.menu_item_thumbnail }}/{{ menu_item.image }}" item-right *ngIf="menu_item.image" (click)="showImage(menu_item.menu_item_name, menu_item.image)" />
          <div item-left>               
            <ion-checkbox type="checkbox" formControlName="menu_item[{{menu_item.menu_item_id}}]" (click)="validateMenuItemCheck(menu_item.menu_item_id)"></ion-checkbox>
            <ion-label>
              {{ this._config.translate(menu_item.menu_item_name, menu_item.menu_item_name_ar) }} 
              <i>{{ this._config.translate(menu_item.hint, menu_item.hint_ar) }}</i>
              <i *ngIf="menu_item.price > 0">(+KD {{ menu_item.price }}) </i>                
            </ion-label>            
          </div>  
        </ion-item>
      </ion-list>
    </div>
  
    <!-- female service -->

    <ion-item *ngIf="product.have_female_service">
      <ion-label>{{ "Include Female Service" | translate }}</ion-label>
      <ion-checkbox type="checkbox" formControlName="female_service"></ion-checkbox>
    </ion-item>

    <!-- special request -->

    <ion-item *ngIf="product.allow_special_request">
      <ion-label>{{ "Special Request" | translate }}</ion-label>
      <ion-textarea formControlName="special_request"></ion-textarea>
    </ion-item>
  </form>
</ion-content>  
<ion-footer>
    <button full ion-button color="dark" (click)="addToCart()"> 
        &nbsp;<ion-icon name="cart"></ion-icon>&nbsp;
        {{ "Add To Cart" | translate }}
    </button>
</ion-footer>