.error-message p{text-align: right;margin: 0px;padding-top: 10px;color:#ff0000!important;padding-right: 10px;}
.flex_row {display: -webkit-flex;display: flex;-webkit-flex-direction: row; flex-direction: row;}
.quantity{width: 100%;font-size: 25px !important;text-align: center;margin-top: 4px;}

form {
    margin-bottom: 50px;
}

.price-table-col{border: 1px solid;text-align: center;}
.price-table-col-header{background: #000;color: #fff;border: none;text-align: center;}
.white-border-right{border-right: 1px solid #fff;}

.menu_list ion-label i {
    color: gray;
    text-transform: none;
}

[top-info] {
    margin-top: 60px;
    padding-left: 10px;
    margin-bottom: 20px;
}
[top-info] h5 {
    margin-top: -5px !important;
    color: gray;
    font-size: 15px;
}
.menu_list .lbl_menu_item,
.menu_list .qty_box_menu_item,
.menu_list ion-icon,
.menu_list ion-input {float: left;}
.lbl_menu_item {
    width: 100%;
    margin-bottom: 5px;
}
.menu_list ion-input {
    width: 35px;
    height: 30px;
    position: relative;
    top: -5px;
}
.menu_list ion-input .text-input {
    text-align: center;
}

.menu_list .item-inner {
    border: none !important;
    box-shadow: none !important;
}
.menu_list ion-item {border-bottom: 1px solid #dedede;}
.menu_list ion-icon {position: relative;z-index: 999;}

.menu_list .lbl_menu_item i {
    font-size: 14px;
    clear: both;
    display: inline-block;
}

.menu_list ion-label,
.menu_list ion-checkbox {
    float: left;
}

.menu_list img {
    position: relative;
    z-index: 1;
}

p.qty_label {
    font-size: 19px;
    color: black;
    margin-right: 10px;
    width: 200%;
}