<ion-header>
  <ion-navbar>
    <ion-title>{{ "Filters" | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>{{ "Delivery Date" | translate }}</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" min="{{todayStr}}" [(ngModel)]="filterDeliveryDate" max="2100-12-31"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="timeslots && timeslots.length">
      <ion-label>{{ "Select Delivary Time Slot" | translate }}</ion-label>
      <ion-select [(ngModel)]="filterDeliveryTime">
          <ion-option *ngFor="let timeslot of timeslots" value="{{ timeslot }}">{{ timeslot }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{ "Delivery Area" | translate }}</ion-label>
      <ion-select [(ngModel)]="filterDeliveryArea">
        <ion-option *ngFor="let area of areaList" value="{{area.area_id}}">
          {{ _config.translate(area.location, area.location_ar) }}</ion-option>
      </ion-select>
    </ion-item>
    <!--<ion-item>
      <ion-label>Available For Sale</ion-label>
      <ion-checkbox [(ngModel)]="filterAvailableForSale"></ion-checkbox>
    </ion-item>-->
    <!--<ion-item>
      <ion-label>Select Category</ion-label>
      <ion-select [(ngModel)]="filterCategory">
        <ion-option value="all">All</ion-option>
        <ion-option *ngFor="let category of categoryList" value="{{category.category_id}}">{{category.category_name}}</ion-option>
      </ion-select>
    </ion-item>-->
    <ion-list-header no-lines>
        <ion-label class="label label-ios">
          {{ "Price Range" | translate }}
        </ion-label>
        <ion-badge color="dark" item-right>{{filterPrice.lower}}</ion-badge>
        <ion-badge color="dark" item-right>{{filterPrice.upper}}</ion-badge>
    </ion-list-header>
    <ion-item>
      <ion-range min="{{ minRange }}" max="{{ maxRange }}" snaps="true" dualKnobs="true" pin="true" [(ngModel)]="filterPrice" color="dark">
        <ion-label range-left>{{ minRange }}</ion-label>
        <ion-label range-right>{{ maxRange }}</ion-label>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-label>{{ "Select Themes" | translate }}</ion-label>
      <ion-select [(ngModel)]="filterTheme" multiple="true">
        <ion-option *ngFor="let theme of themeList" value="{{theme.theme_id}}">{{theme.theme_name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="vendorList">
      <ion-label>{{ "Select Vendors" | translate }}</ion-label>
      <ion-select [(ngModel)]="filterVendors" multiple="true">
        <ion-option *ngFor="let vendors of vendorList" value="{{vendors.vendor_id}}">
          {{ _config.translate(vendors.vendor_name, vendors.vendor_name_ar) }}
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-item text-center no-border margin-top-25>
      <button width-99 ion-button round color="dark" (click)="dismiss()">{{ "Filter" | translate }}</button>
  </ion-item>
</ion-content>
