<ion-header>
  <ion-navbar>
    <ion-title text-center>{{ "Directory" | translate }}</ion-title>    
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-item-group *ngFor="let item of directory; let i= index">
 
      <ion-item-divider light>{{ keys[i] }}</ion-item-divider>

      <ion-item *ngFor="let vendor of item">
        <button ion-item (click)="rowSelected(vendor)">
          {{ _config.translate(vendor.vendor_name, vendor.vendor_name_ar) }}
        </button>
      </ion-item>
 
    </ion-item-group>

    <div *ngIf="directory !== undefined && !directory.length" class="no-results">
      <p text-center>{{ "No Results" | translate }}</p>
    </div>

</ion-content>
