page-my-address-book {
    .ion-md-create {    border-right: 1px solid #dedede;padding-right: 28px;margin-right: 12px;}
    [no-background] {background: none;}
}

[pull-left] {float:left;}
[pull-right] {float:right;}
