page-register {
    .list{margin-top: 60px;}
    .toolbar-title{margin-right: 71px;font-weight: normal;}
    .error-message p{text-align: right;margin: 0px;padding-top: 10px;color:#ff0000!important;}
}
