page-package-detail {
    .item-md h1 {padding-bottom: 18px;padding-top: 20px;}
    // .callout-container{position: absolute;width: 123px;bottom: 31px;z-index: 99999;background: #fff;padding: 2px;}
     .image-div{position: relative;}
}
