home {
    [title] {background: #000;color:#fff;margin:0px;}
    .list-ios > .item-block:first-child {border-top: none;}
    i.cat-icon{display: inline-block;}
    .say_thank,.entert,.food_map,.invit_icon,.serv,.other,.decor,.supplies{width: 33px;}
    .venus_icon{width: 39px;}
  .scroll-content{background: url(../../images/tourism-9.jpg);background-size: 100% 100%;background-repeat: no-repeat; }
  h1.logo{background: url(../../images/logo-white.svg);background-size: 100% 100%;background-repeat: no-repeat;z-index: 999;width: 100%;height: 50px;}
  h3,h4,h5,h6{color:#fff;}
  .selectbox{text-align: center;background: #fff;width: 100%;    padding: 13px;   border-radius: 5px;}

    @media screen and (orientation:portrait) {
        h1.logo{margin-top: 37%!important;}
        .selectbox {margin-top: 17%;}
    }
    @media screen and (orientation:landscape) {
        h1.logo{margin-top: 3%!important;}
        .selectbox {margin-top: 7%;}
    }

}
ion-slides {height: auto;}
ion-slide img {height: 51vh !important;width: auto !important;}
ion-icon{font-size: 29px;}
.home-feature-product p.category{color: #c2c2c2;}
.home-inner-slider{border-top: 1px solid #c2c2c2;border-bottom: 1px solid #c2c2c2;}
.home-inner-slider .swiper-slide{border-right: 1px solid #c2c2c2;border-left: 1px solid #c2c2c2;}
.home-inner-slider .swiper-slide i.fa {font-size: 20px;}
.home-feature-product ion-col {border: 1px solid #dedede;}
.home-inner-slider p.title {font-size: 15px;}
.cart-indicator{border-radius: 50%;height: 10px;padding: 0;position: absolute;right: 3px;top: 1px;width: 3px;z-index: 999;}
.clearfix:after {display: block;clear: both;content: "";}
.item-border{border-bottom: 1px solid #d2d2d2;border-right: 1px solid #d2d2d2;}
.item-border:nth-child(odd) {border-left:  1px solid #d2d2d2;}
.item-border:last-child{width:100%! important}
.item-border .item-inner{border-bottom:none! important;}
.close-menu{background: none;}
.close-menu.item-ios.item-block .item-inner {padding-right: 0px;border-bottom: none;}
.list-ios > .item-block:first-child {border-top: none;}

