home {
    [title] {
        background: #000;
        color:#fff;
        margin:0px;
    }
}
ion-slides {
    height: auto;
}
ion-slide img {
    height: 51vh !important;
    width: auto !important;
}

.home-feature-product p.category{
    color: #c2c2c2;
}
.home-inner-slider{
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
}

.home-inner-slider .swiper-slide{
    border-right: 1px solid #c2c2c2;
    border-left: 1px solid #c2c2c2;
}
.home-inner-slider .swiper-slide i.fa {
    font-size: 20px;
}

.home-feature-product ion-col {
    border: 1px solid #dedede;
}
ion-icon{
    font-size: 29px;
}
.home-inner-slider p.title {
    font-size: 15px;
}
.cart-indicator{
    border-radius: 50%;
    height: 10px;
    padding: 0;
    position: absolute;
    right: 3px;
    top: 1px;
    width: 3px;
    z-index: 999;
}