<ion-header>
  <ion-navbar class="top-nav">
    <ion-buttons start>
      <button ion-button menuToggle="left" >
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-left>White Book</ion-title>
    <ion-buttons end>
      <button ion-button menuToggle="right">
          <ion-icon name="calendar"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <ion-badge class="cart-indicator" color="danger">&nbsp;</ion-badge>
      <button ion-button (click)="openModel()" >
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="top-slider">
    <ion-slides [options]="mySlideOptions">
      <ion-slide *ngFor="let slides of sliderSlides">
        <img src="{{slides.image}}" />
      </ion-slide>
    </ion-slides>
  </div>
  <div class="home-feature-category">
    <ion-label text-center padding title>Top Categories</ion-label>
      <!--<ion-slides [options]="categorySlideOptions">
        <button ion-slide *ngFor="let category of categories"  (click)="loadProducts(category.title, category.id)" >
          <i class="fa {{category.icon}}" aria-hidden="true"></i>
          <p class="title">{{category.title}}</p>
        </button>
      </ion-slides>-->
      <ion-list class="clearfix">
          <button detail-none ion-item text-center *ngFor="let category of categories" min-height-93 pull-left width-50 no-line class="item-border"  (click)="loadProducts(category.category_name, category.category_id)" >
            <i class="{{category.icon}} cat-icon" aria-hidden="true"></i><br/>{{category.category_name}}
          </button>
      </ion-list>
    </div>

  <div class="featrued-slider">
    <ion-label text-center padding title>Featured Product</ion-label>
    <ion-grid class="home-feature-product">
      <ion-list>
          <button detail-none ion-item no-border text-center width-50 pull-left *ngFor="let product of featureProduct "  (click)="loadProduct()" >
            <img src="{{product.image}}">
            <h4 class="name">{{product.title}}</h4>
              <p class="category">@{{product.category}}</p>
          </button>
      </ion-list>
    </ion-grid>
  </div>
</ion-content>