<ion-header>
  <ion-navbar class="top-nav">
    <ion-buttons start>
      <button ion-button menuToggle="left" >
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-left>White Book</ion-title>
    <!--<ion-buttons end>
      <button ion-button menuToggle="right">
          <ion-icon name="calendar"></ion-icon>
      </button>
    </ion-buttons>-->
    <ion-buttons end>
      <ion-badge *ngIf="_cartCount.count > 0" class="cart-indicator" color="danger">&nbsp;</ion-badge>
      <button ion-button (click)="openModel()" >
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="scroll-content">
      <h1 class="logo"></h1>
      <h4 text-center>Book everything you need for your event</h4>
      <h6 text-center>You pick, we take care of the rest. Your friends will be jealous, guaranteed!</h6>
      <div class="selectbox">
        <select name="themeID" id="themeID" (change)="showData($event.target.value)">
          <option selected="selected" value="">What's your occasion?</option>
          <option value="0">All Themes</option>
          <option *ngFor="let item of themes" value="{{item.theme_id}}" >{{item.theme_name}}</option>
        </select>
      </div>
  </div>
</ion-content>