<ion-header>
  <ion-navbar>
    <ion-title text-center>
    	{{ _config.translate(vendor.vendor_name, vendor.vendor_name_ar) }}
    </ion-title>    
  </ion-navbar>
</ion-header>

<ion-content padding>

	<ion-thumbnail>
		<img [defaultImage]="defaultImage" [lazyLoad]="_config.vendor_logo + '/' + vendor.vendor_logo_path" [offset]="imageOffset">
	</ion-thumbnail>

	<h2>{{ "Description" | translate }}</h2>

	<div innerHTML="{{	vendor.short_description }}"></div>

	<h2>{{ "Return policy" | translate }}</h2>

	<div innerHTML="{{ vendor.vendor_return_policy }}"></div>

	<h2 *ngIf="reviews.length > 0">{{ "Reviews" | translate }}</h2>

	<ion-item *ngFor="let review of reviews" class="vendor-review">
		<ul class="review-rating">
			<li *ngFor="let i of getReviewIcons(review.rating); let i = index">
				<ion-icon name="star"></ion-icon>
			</li>
		</ul>
		<div class="review-author">{{ 'By' | translate }} {{ review.customer }}  </div>
		<div class="review-time">{{ review.created_at }}</div>
		<div class="review-review">
				{{ review.review }}
		</div>
	</ion-item>

	<button ion-button full class="add-review-button"	*ngIf="canAddReview" (click)="openReviewModal()">{{ 'Add Review' | translate }}</button>

	<h2 *ngIf="products.length > 0">{{ "Products" | translate }}</h2>

	<ion-grid class="category-product-listing {{productView}}">
		<ion-list class="scroll-content" *ngFor="let product of products" class="product-items" (click)="productDetail(product.item_id)">
	        <button detail-none ion-item>
	          <div class="gallery-section">
	            <ion-icon class="like-icon" name="heart-outline"></ion-icon>
	            <ion-thumbnail class="avatarImage">
								<img [defaultImage]="defaultImage" [errorImage]="errorImage" [lazyLoad]="_config.images_530 + '/' + product.image" [offset]="imageOffset">
	            </ion-thumbnail>
	            <div *ngIf="product.notice != ''" class="callout-container">
	                <span class="callout light">
	                    {{ "Notice" }}: {{product.notice}}
	                </span>
	            </div>
	          </div>
	          <div class="detail-section text-center">
	            <h4 class="name"><strong>{{ _config.translate(product.item_name, product.item_name_ar) }}</strong></h4>
	            
	            <h6 class="price">
	              <span *ngIf="product.item_base_price > 0">
	                 KD {{ product.item_base_price }}
	              </span>
	              <span *ngIf="!product.item_base_price && product.min_order_amount > 0">
	                 KD {{ product.min_order_amount }}
	              </span>
	              <span *ngIf="!product.item_base_price && !product.min_order_amount">
	                 {{ "Price based on selection" | translate }}
	              </span>
	            </h6>

	            <h4 class="vendor"> {{ _config.translate(product.vendor_name, product.vendor_name_ar) }}</h4>
	          </div>
	        </button>
	    </ion-list>
	</ion-grid>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
 
</ion-content>
