page-create-event {
    .list-md{margin-top: 56px;border: 1px solid #dedede;}
    .error-message p{text-align: right;margin: 0px;padding-top: 10px;color:#ff0000!important;padding-right: 10px;}
    .text-input-md{text-align: right;}
}
