page-product {}
.product-detail-like-icon button{background: #fff;}
.product-detail-like-icon button ion-icon{font-size: 21px;}
.product-detail h2{font-size: 31px;text-align: center;font-weight: bold;}
.product-detail ion-slides{margin: 32px 0;}
