page-product {
    .red:before {color: red;}
    .green:before {color: green;}
    .flex_row {display: -webkit-flex;display: flex;-webkit-flex-direction: row; flex-direction: row;}
    .quantity{width: 100%;font-size: 25px;text-align: center;margin-top: 4px;}
    .error-message p{text-align: right;margin: 0px;padding-top: 10px;color:#ff0000!important;padding-right: 10px;}
}
.product-detail-like-icon button{background: #fff;}
.product-detail-like-icon button ion-icon{font-size: 21px;}
.product-detail h2{    margin-top: 66px;font-size: 24px;text-align: center;font-weight: bold;}
.product-detail h3{font-size: 13px;margin: 8px 0;}
.product-detail h4{font-size: 20px;font-weight: bold;margin-bottom: 30px;padding-bottom: 30px;border-bottom: 1px solid #dedede;}
.product-detail ion-slides{margin: 32px 0;}
.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {border-color: #000;opacity: 1;background: #000;color: #fff;}
.segment-button{color:#000!important; }
.segment-activated{color:#fff!important;}
[add-to-cart]{border: 1px solid #000!important;box-shadow: none;}
[add-to-wishlist]{background: #fff;border: 1px solid #000;color: #000;box-shadow: none;}
[no-border] .item-inner{border:none!important;}
[no-border] .label-md {margin: 13px 8px 0px 0;}
[no-background] {background: none;}
