<ion-header>
  <ion-navbar primary>
    <ion-title>Product Detail</ion-title>
    <!--<ion-buttons end>
      <button ion-button menuToggle="right" >
          <ion-icon name="calendar"></ion-icon>
      </button>
    </ion-buttons>-->
    <ion-buttons end>
      <ion-badge *ngIf="_cartCount.count > 0" class="cart-indicator" color="danger">&nbsp;</ion-badge>
      <button ion-button (click)="openModel()" >
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="product-detail" *ngIf="product">
  <ion-item text-wrap no-border>
    <h2>{{product.item.item_name}}</h2>
    <ion-slides>
      <ion-slide *ngFor="let image of product.images">
        <ion-thumbnail class="avatarImage">
          <img src="{{_config.images_530}}/{{image.image_path}}" >
        </ion-thumbnail>
      </ion-slide>
    </ion-slides>

      <h3 text-center>{{product.vendor.vendor_name}}</h3>
      <h5 text-center *ngIf="product.notice != ''">Notice: {{product.notice}}</h5>
      <h4 text-center *ngIf="total">Price : {{ total }}</h4>       
      <h4 text-center *ngIf="!total">Price : Loading...</h4>       

      <ion-segment [(ngModel)]="productSection">
        <ion-segment-button round value="pdescription">
          Description
        </ion-segment-button>
        <ion-segment-button round value="adescription">
          Addition
        </ion-segment-button>
      </ion-segment>
  </ion-item>
  <div [ngSwitch]="productSection" padding>
    <p text-justify *ngSwitchCase="'pdescription'">{{product.item.item_description | trimhtml }}</p>
    <p text-justify *ngSwitchCase="'adescription'">{{product.item.item_additional_info | trimhtml }}</p>
  </div>
  <form [formGroup]="productForm" (ngSubmit)="addToCart()" novalidate>
    <ion-item>
        <ion-label>Select Area</ion-label>
      <ion-select [(ngModel)]="area" formControlName="area" (ionChange)= "resetValues()">
        <ion-option *ngFor="let area of vendorAreaList" value="{{area.area_id}}">{{area.location}}</ion-option>
      </ion-select>
    </ion-item>
    <div class="error-message" *ngIf="!productForm.controls.area.valid && (productForm.controls.area.touched ||  submitAttempt)">
      <p>Please Select Area</p>
    </div>
    <ion-item>
      <ion-label>Select Delivery Date</ion-label>
      <ion-datetime formControlName="myDate" displayFormat="YYYY-MM-DD" min="{{todayStr}}" max="2100-12-31" [(ngModel)]="myDate" (ionChange) = "loadTimeSlot(product.vendor.vendor_id)"></ion-datetime>
    </ion-item>
    <div class="error-message" *ngIf="productForm.controls.area.valid && !productForm.controls.myDate.valid && (productForm.controls.myDate.touched ||  submitAttempt)">
      <p>Please Select date</p>
    </div>
    <ion-item *ngIf="timeslots && timeslots.length">
      <ion-label>Select Delivary Time Slot</ion-label>
      <ion-select [(ngModel)]="slots" formControlName="slots">
          <ion-option *ngFor="let timeslot of timeslots" value="{{ timeslot }}">{{ timeslot }}</ion-option>
      </ion-select>
    </ion-item>
    <div class="error-message" *ngIf="timeslots && timeslots.length && productForm.controls.area.valid && productForm.controls.myDate.valid && !productForm.controls.slots.valid && (productForm.controls.slots.touched ||  submitAttempt)">
      <p>Please Select Time Slot</p>
    </div>
    <div class="error-message" *ngIf="!timeslots.length && dateChange">
      <p>Item is not available on selected date</p>
    </div>
    <ion-item>
      <div class="flex_row">
        <ion-icon (click)="sub()" ios="ios-remove-circle" md="md-remove-circle"></ion-icon>
        <p class="quantity"> {{ quantity }} </p>
        <ion-icon (click)="add()" ios="ios-add-circle" md="md-add-circle"></ion-icon>
      </div>
    </ion-item>
    
    <!-- addons -->

    <h2 *ngIf="product.addons.length > 0">Addons</h2>
    <div *ngFor="let addon_menu of product.addons" class="menu_list">

      <ion-list *ngIf="addon_menu.quantity_type == 'selection'">

        <ion-list-header>
          {{ addon_menu.menu_name }}
          <i *ngIf="addon_menu.min_quantity > 0">atleast {{ addon_menu.min_quantity }}</i>
          <i *ngIf="addon_menu.max_quantity > 0">upto {{ addon_menu.max_quantity }}</i>
        </ion-list-header>
        
        <ion-item *ngFor="let addon_item of addon_menu.vendorItemMenuItems">
            <div class="lbl_menu_item" item-left>
              {{ addon_item.menu_item_name }}
            </div>
            <div class="qty_box_menu_item" item-right>
              <ion-icon (click)="subMenuItemQty(addon_item.menu_item_id)" ios="ios-remove-circle" md="md-remove-circle"></ion-icon>
              <ion-input type="number" value="0" [(ngModel)]="menuItem[addon_item.menu_item_id]" [ngModelOptions]="{standalone: true}"></ion-input>
              <ion-icon (click)="addMenuItemQty(addon_item.menu_item_id)" ios="ios-add-circle" md="md-add-circle"></ion-icon>
            </div>
        </ion-item>
      </ion-list>

      <ion-list *ngIf="addon_menu.quantity_type == 'checkbox'">
        
        <ion-list-header>
          {{ addon_menu.menu_name }}
          <i *ngIf="addon_menu.min_quantity > 0">atleast {{ addon_menu.min_quantity }}</i>
          <i *ngIf="addon_menu.max_quantity > 0">upto {{ addon_menu.max_quantity }}</i>
        </ion-list-header>

        <ion-item *ngFor="let addon_item of addon_menu.vendorItemMenuItems">        
          <ion-label>{{ addon_item.menu_item_name }}</ion-label>    
          <ion-checkbox [(ngModel)]="menuItem[addon_item.menu_item_id]" value="1" [ngModelOptions]="{standalone: true}"></ion-checkbox>      
        </ion-item>
      </ion-list>

    </div>

    <!-- menues -->

    <h2 *ngIf="product.menu.length > 0">Options</h2>

    <div *ngFor="let menu of product.menu" class="menu_list">
           
      <ion-list *ngIf="menu.quantity_type == 'selection'">

        <ion-list-header>
           {{ menu.menu_name }}
            <i *ngIf="menu.min_quantity > 0">atleast {{ menu.min_quantity }}</i>
            <i *ngIf="menu.max_quantity > 0">upto {{ menu.max_quantity }}</i>
        </ion-list-header>

        <ion-item *ngFor="let menu_item of menu.vendorItemMenuItems">
            <div class="lbl_menu_item" item-left>
              {{ menu_item.menu_item_name }}
            </div>
            <div class="qty_box_menu_item" item-right>
              <ion-icon (click)="subMenuItemQty(menu_item.menu_item_id)" ios="ios-remove-circle" md="md-remove-circle"></ion-icon>
              <ion-input type="number" value="0" [(ngModel)]="menuItem[menu_item.menu_item_id]" [ngModelOptions]="{standalone: true}"></ion-input>
              <ion-icon (click)="addMenuItemQty(menu_item.menu_item_id)" ios="ios-add-circle" md="md-add-circle"></ion-icon>
            </div>
        </ion-item>
      </ion-list>

      <ion-list *ngIf="menu.quantity_type == 'checkbox'"> 

        <ion-list-header>
           {{ menu.menu_name }}
            <i *ngIf="menu.min_quantity > 0">atleast {{ menu.min_quantity }}</i>
            <i *ngIf="menu.max_quantity > 0">upto {{ menu.max_quantity }}</i>
        </ion-list-header>

        <ion-item *ngFor="let menu_item of menu.vendorItemMenuItems">
          <ion-label>{{ menu_item.menu_item_name }}</ion-label>
          <ion-checkbox type="checkbox" [(ngModel)]="menuItem[menu_item.menu_item_id]" value="1" [ngModelOptions]="{standalone: true}"></ion-checkbox>
        </ion-item>
      </ion-list>
    </div>

    <!-- female service -->

    <ion-item *ngIf="product.have_female_service">
      <ion-label>Include Female Service</ion-label>
      <ion-checkbox type="checkbox" [(ngModel)]="female_service" value="1" [ngModelOptions]="{standalone: true}"></ion-checkbox>
    </ion-item>

    <!-- special request -->

    <ion-item *ngIf="product.allow_special_request">
      <ion-label>Special Request</ion-label>
      <ion-checkbox type="checkbox" [(ngModel)]="special_request" value="1" [ngModelOptions]="{standalone: true}"></ion-checkbox>
    </ion-item>

    <ion-item no-border>
      <button full round ion-button color="dark" padding-17 add-to-cart> <ion-icon name="cart"></ion-icon>&nbsp;&nbsp;Add To Cart</button>
    </ion-item>
  </form>
  <ion-item>
    <button full round border ion-button padding-17 add-to-wishlist (click)="manageWishlist()">
      {{wishlistLbl}}
    </button>
  </ion-item>
</ion-content>