// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$app-direction: multi;

@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

ion-app {
    @include rtl() {
        font-family: 'Droid Arabic Kufi', serif !important;
    }    
}

i.venues-category{background: url(../assets/images/sprit.png) no-repeat -3px -8px;}
i.invitation-category{background:  url(../assets/images/sprit.png) no-repeat -83px -12px;}
i.supply-category{background: url(../assets/images/sprit.png) no-repeat  -292px -11px;}
i.food-category{background: url(../assets/images/sprit.png) no-repeat -157px -11px;}
i.decor-category{background: url(../assets/images/sprit.png) no-repeat  -226px -12px;}
i.enter-category{background: url(../assets/images/sprit.png) no-repeat  -363px -10px;}
i.service-category{background: url(../assets/images/sprit.png) no-repeat  -442px -12px;}
i.others-category{background:url(../assets/images/sprit.png) no-repeat  -521px -13px;}
i.saythankyou-category{background:url(../assets/images/sprit.png) -595px -19px no-repeat;}

.top-nav .bar-buttons-md[start] {order: 1;}
.logo {
    width: 180px;
    top: 2px;
    position: relative;
}

.toolbar-background-md {background: #fff;border-color: #000;}
.close-menu.item-md.item-block .item-inner{border: none;padding: 0px;}
.ios .menu-inner{width: 263px;}
[main-menu] ion-label, [event-menu] ion-label{font-size: 15px;touch-action: inherit;}
#menu1 .item .item-inner,
#menu2 .item .item-inner {
    border: none !important;
}
[main-menu-search-icon] {order: 1;margin-left: 9px;}
[main-menu-close-icon] {margin-left: 0px;margin-right: 4px;}
#menu2 a ion-label, #menu2 button ion-label, #menu2 [tappable] ion-label{touch-action:inherit;}
div.menu-inner .toolbar-ios ion-title{    padding: 0px 85px 1px;}
div.menu-inner .list-ios .item-block .item-inner {border-bottom: 0.55px solid #c8c7cc;}
.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default{color:#000;}
[main-menu] .list-ios > .item-block:last-child{border:none;}
[main-menu] span{position: absolute;top: 26px;}
[main-menu] i{display: inline-block;width: 20%;height:40px;}
span.label-service-icon{top: 34px;}
span.label-gift-favour-icon{top: 33px;}

.item-ios.item-block .item-inner{padding-left: 4px;padding-right:4px;}
.label-ios {margin: 11px 4px 11px 4px;}
//Default Css
[left-border]{border-left: 1px solid #dedede;}
[border-right]{border-right: 1px solid #dedede;}
[border-bottom]{border-bottom: 1px solid #dedede;}

[width-50]{width:50%}
[width-60] {max-width: 60%}
[width-70] {max-width: 70%}
[width-99] {width: 99%!important;}
[max-width-100]{max-width:100%}

[pull-left],[float-left] {float:left;}
[pull-right],[float-right] {float:right;}

[padding-top-21]{padding-top: 21px!important;}
[padding-16]{padding: 16px!important;}
[padding-19] {padding: 19px! important;}
[padding-17] {padding: 17px! important;}

[margin-bottom-25]{ margin-bottom: 25px;}
[margin-top-25]{margin-top:25px}
[margin-top-20] {margin-top:20px;}

[min-height-103]{ min-height: 103px;}
[min-height-93]{ min-height: 93px;}
[font-size-16]{font-size: 16px;}
[no-background] {background: none;}
[position-relative] {position: relative;}
.home-feature-category button i{display: inline-block;width: 35px;}
.home-feature-category button i.saythankyou-category{display: inline-block;width: 33px;}

.cart-indicator {
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    right: 0px;
    top: -7px;
    z-index: 999;
    width: 20px;
}

[text-center]{text-align: center;}

[width-57-inline-block] {
    width: 57%;
    display: inline-block;
}
[width-36-inline-block] {
    width: 36%;
    display: inline-block;
}
[width-20] {
    overflow: hidden;
}
