// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

i.venus_icon{background: url(../../images/sprit.png) no-repeat -3px -8px  ; height: 40px;}
i.invit_icon{background:  url(../../images/sprit.png) no-repeat -84px -12px;height: 39px;}
i.supplies{background: url(../../images/sprit.png) no-repeat  -292px -11px;height: 39px;}
i.food_map{background: url(../../images/sprit.png) no-repeat -157px -11px ;height: 39px;}
i.decor{background: url(../../images/sprit.png) no-repeat  -226px -12px;height: 37px;}
i.entert{background: url(../../images/sprit.png) no-repeat  -363px -10px;height: 37px;}
i.serv{background: url(../../images/sprit.png) no-repeat  -442px -3px;height: 44px;}
i.other{background:url(../../images/sprit.png) no-repeat  -521px -13px;height: 34px;}
i.say_thank{background:url(../../images/sprit.png) -595px -14px  no-repeat;height: 40px;}
.top-nav .bar-buttons-md[start] {order: 1;}
.logo{width: 20px;}
.toolbar-background-md {background: #fff;border-color: #000;}
.close-menu.item-md.item-block .item-inner{border: none;padding: 0px;}
.ios .menu-inner{width: 263px;}
[main-menu] ion-label, [event-menu] ion-label{font-size: 15px;touch-action: inherit;}
[secondary-menu] .fa {width: 36px;}
[main-menu-search-icon] {order: 1;margin-left: 9px;}
[main-menu-close-icon] {margin-left: 0px;margin-right: 4px;}
#menu2 a ion-label, #menu2 button ion-label, #menu2 [tappable] ion-label{touch-action:inherit;}
div.menu-inner .toolbar-ios ion-title{    padding: 0px 85px 1px;}
div.menu-inner .list-ios .item-block .item-inner {border-bottom: 0.55px solid #c8c7cc;}
.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default{color:#000;}
[main-menu] .list-ios > .item-block:last-child{border:none;}
[main-menu] span{position: absolute;top: 26px;}
[main-menu] i{display: inline-block;width: 20%;}
span.label-service-icon{top: 34px;}
span.label-gift-favour-icon{top: 33px;}

.item-ios.item-block .item-inner{padding-left: 4px;padding-right:4px;}
.label-ios {margin: 11px 4px 11px 4px;}
//Default Css
[left-border]{border-left: 1px solid #dedede;}
[border-right]{border-right: 1px solid #dedede;}
[border-bottom]{border-bottom: 1px solid #dedede;}

[width-50]{width:50%}
[width-60] {max-width: 60%}
[width-70] {max-width: 70%}
[width-99] {width: 99%!important;}
[max-width-100]{max-width:100%}

[pull-left],[float-left] {float:left;}
[pull-right],[float-right] {float:right;}

[padding-top-21]{padding-top: 21px!important;}
[padding-16]{padding: 16px!important;}
[padding-19] {padding: 19px! important;}
[padding-17] {padding: 17px! important;}

[margin-bottom-25]{ margin-bottom: 25px;}
[margin-top-25]{margin-top:25px}
[margin-top-20] {margin-top:20px;}

[min-height-103]{ min-height: 103px;}
[min-height-93]{ min-height: 93px;}
[font-size-16]{font-size: 16px;}
[no-background] {background: none;}
[position-relative] {position: relative;}
