<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar >
      <ion-title padding text-center><img class="logo" src="http://dev.thewhitebook.com.kw/images/mobile_logo.svg"></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content main-menu>
    <ion-list>
      <button ion-item nav-clear menu-close item-icon-right *ngFor="let p of pages" (click)="openPage(p)">
          <i class="fa fa-{{p.icon}}"></i>
        {{p.title}} 
      </button>
    </ion-list>
    <hr/>
    <ion-list>
      <button ion-item  *ngFor="let prsnl of personal" (click)="openPage(p)">
        <i class="fa fa-{{prsnl.icon}}"></i>
        {{prsnl.title}} 
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav id="nav" [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>