page-login {

    .item {
        padding-left: 0 !important;
    }

    form {
        margin-bottom: 0px;
    }

    .button { 
        margin-top: 15px;
        padding: 0 !important;
        height: 40px;
    }
    
    .list-md .item-block .item-inner{position: static;}
    .item-md .item-button {padding:18px;}
    .segment-activated{color:#fff!important;}
    .item-select{ min-height: 63px;}
    
    .item-avatar {
        margin: 40px;
    }
    .item-avatar img{width:71%;}
    .list{margin-top: 30px;}
    .toolbar-title{margin-right: 71px;font-weight: normal;}
    hr{position: absolute;top: 15px;z-index: 999999;    width: 97%;}

    .error-message p{text-align: right;margin: 0px;padding-top: 10px;color:#ff0000!important;}

    .toolbar-background {
        background: white;
        border: none !important;
    }

    .btn-password {
        margin-top: 5px;
        display: block;
        text-align: right;
    }
}
[width-34]{width: 34%!important;}
[width-50]{width: 50%!important;}
[width-75]{width: 75%!important;}
[width-100]{width: 100%!important;}
[width-99]{width: 99%!important;}
[register-btn] button{    width: 50%;font-size: 15px! important;margin-top: 22px;}

.segment-ios .segment-button{border-color: #000;}
.segment-ios .segment-button.segment-activated{background:#000}