<ion-header>
  <ion-navbar class="top-nav"></ion-navbar>
</ion-header>
<ion-content padding>  
    
    <div class="item-avatar" text-center>
      <img src="http://dev.thewhitebook.com.kw/images/logo.svg">
    </div>
    
    <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
      <ion-item>
        <ion-label floating>{{ "Email" | translate }}</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <div class="error-message" *ngIf="!loginForm.controls.email.valid && (loginForm.controls.email.touched || submitAttempt) ">
        <p *ngIf="loginForm.controls.email.errors.required">{{ "Please enter email address" | translate }}</p>
        <p *ngIf="!loginForm.controls.email.errors.required && loginForm.controls.email.errors.invalidEmail">
          {{ "Please enter valid email address" | translate }}
        </p>
      </div>
      <ion-item>
        <ion-label floating>{{ "Password" | translate }}</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div class="error-message" *ngIf="!loginForm.controls.password.valid && (loginForm.controls.password.touched || submitAttempt) ">
        <p>{{ "Please enter password" | translate }}</p>
      </div>
      <span class="btn-password" (click)='forgetPasswordPage()'>{{ "Forget password?" | translate }}</span>

      <button ion-button round full color="dark">{{ "Login" | translate }}</button>      
      
    </form> 

    <button ion-button round full login-btn (click)="login('facebook')">
      {{ "Login With Facebook" | translate }}
    </button>
    
    <button (click)="registerPage()" color="secondary" ion-button round full>{{ "Sign Up" | translate }}</button>
    
</ion-content>
