<ion-header>
  <ion-toolbar>
    <ion-title>
      Confirm Your Booking
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>

  <ion-list class="header" *ngIf="errors.length == 0 && cartItems.length > 0">
      <ion-col width-36-inline-block>
          <strong>Image</strong>
      </ion-col>
      <ion-col width-57-inline-block>
          <strong>Detail</strong>
      </ion-col>
  </ion-list>
  <div class="" approxItemHeight="40px" *ngIf="errors.length == 0 && cartItems.length > 0">
  
    <ion-list *ngFor="let item of cartItems" >
      <ion-row class="header">
          <ion-col width-20 position-relative>
              <img src="{{_config.images_210}}/{{item.image_path}}">
          </ion-col>
          <ion-col width-80 class="button-container">
              <h3>{{ item.item_name }}</h3>
              <ion-label> QTY :  {{ item.cart_quantity}}</ion-label>
              <ion-label> Vendor :  {{ item.vendor}}</ion-label>
              <h2>Item Total : KD {{ item.total }}</h2>  

              <div *ngIf="item.options.length">
                  <small>Options</small>
                  <ion-label *ngFor="let option of item.options" > <small>{{option.menu_item_name}} X {{option.quantity}}</small></ion-label>
              </div>

              <div *ngIf="item.addons.length">
                  <small>addons</small>
                  <ion-label *ngFor="let addon of item.addons" > <small>{{addon.menu_item_name}} X {{addon.quantity}}</small></ion-label>
              </div>

              <div *ngIf="item.addons.length">
                  <small>customs</small>
                  <ion-label *ngFor="let custom of item.customs" > 
                    <small>{{custom.question}}</small>
                    <small>{{custom.answer}}</small>
                  </ion-label>
              </div>
              
              <div *ngFor="let error of item.errors" class="cart-error-wrapper">
                <p>{{ error }}</p>
              </div>                      
          </ion-col>        
      </ion-row>
    </ion-list>
    
    <ion-list summary *ngIf="summary" >
      <ion-row *ngIf="summary.subtotal">
        <ion-col text-left>
          <ion-label><strong>Sub Total</strong></ion-label>
        </ion-col>
        <ion-col text-right>
          <ion-label>{{summary.subtotal}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let cost of delivery_vendors">
        <ion-col text-left>
          <ion-label>Delivery Charge <br /><small>({{cost.vendor}})</small></ion-label>
        </ion-col>
        <ion-col text-right>
          <ion-label>{{cost.charges}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="summary.total">
        <ion-col text-left>
          <ion-label><strong>Total</strong></ion-label>
        </ion-col>
        <ion-col text-right>
          <ion-label>{{summary.total}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-list>
  </div>

  <ion-item text-center checkout-btn *ngIf="errors.length == 0">
    <button ion-button round width-99 padding color="dark" (click)="confirm()"> Confirm</button>
  </ion-item>

  <ion-item text-center checkout-btn>
    <button ion-button round width-99 padding (click)="back()"> Back</button>
  </ion-item>

</ion-content>

<ion-content *ngIf="(carItems !== undefined && !carItems.length)" class="no-results">
    <p text-center>No Results</p>
</ion-content>

<ion-content *ngIf="errors.length > 0" class="no-results">
    <p text-center>Please check your cart</p>
</ion-content>
