<ion-header>
  <ion-navbar>
    <ion-searchbar (ionInput)="onSearchInput($event)" placeholder="Search Item"></ion-searchbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        {{ "Close" | translate }}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>

    <ion-list *ngIf="items">
      <button ion-item *ngFor="let item of items" (click)="productDetail(item.item_id)">
        <span *ngIf="translateService.currentLang != 'ar'">
          {{ item.item_name }}
        </span>
        <span *ngIf="translateService.currentLang == 'ar'">
          {{ item.item_name_ar }}
        </span>
      </button>
    </ion-list>

    <div *ngIf="items !== undefined && !items.length && !searching" class="no-results">
      <p text-center>{{ "No Results" | translate }}</p>
    </div>

</ion-content>
