<ion-header>
  <ion-navbar>
    <ion-title>{{ "My Wishlist" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row no-line class="top-filter-tool-bar">
    <ion-col text-left>
      <ion-list>
      <ion-item>
        <ion-label>{{ "Filter By" | translate }}</ion-label>
        <ion-select text-left [(ngModel)]="category" (ionChange)="filterProduct()">
          <ion-option value="0">{{ "All" | translate }}</ion-option>
          <ion-option *ngFor="let category of categoryList" value="{{category.category_id}}">
            {{ _config.translate(category.category_name, category.category_name_ar) }}
          </ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    </ion-col>
  </ion-row>
  <div *ngIf="waiting" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
  <ion-list class="scroll-content" *ngFor="let product of whishlist" class="product-items">
    <ion-card style="margin-bottom: 12px;">
    <div (click)="productDetail(product.item_id)">
      <ion-item>
        <h2>{{ _config.translate(product.vendor_name, product.vendor_name_ar) }}</h2>
      </ion-item>
      <ion-img src="{{_config.images_1000}}/{{product.image_path}}"></ion-img>
    </div>
    <ion-card-content>
      <p>{{ _config.translate(product.item_name, product.item_name_ar) }}</p>
      <p>
        <span *ngIf="product.item_base_price > 0">
            KD {{ product.item_base_price }}
        </span>
        <span *ngIf="!product.item_base_price && product.min_order_amount > 0">
            KD {{ product.min_order_amount }}
        </span>
        <span *ngIf="!product.item_base_price && !product.min_order_amount">
            {{ "Price based on selection" | translate }}
        </span>
      </p>
      <button (click)="removeProduct(product.wishlist_id)">
        {{ "Remove From Wishlist" | translate }}
      </button>
    </ion-card-content>
  </ion-card>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
<div *ngIf="whishlist !== undefined && !whishlist.length" class="no-results">
    <p text-center>{{ "No Results" | translate }}</p>
</div>
</ion-content>
