<ion-header>
  <ion-navbar>
    <ion-title>My Wishlist</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row no-line class="top-filter-tool-bar">
    <ion-col text-left>
      <ion-list>
      <ion-item>
        <ion-label>Filter By</ion-label>
        <ion-select text-left [(ngModel)]="category" (ionChange)="filterProduct()">
          <ion-option value="0">All</ion-option>
          <ion-option *ngFor="let category of categoryList" value="{{category.category_id}}">{{category.category_name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    </ion-col>
  </ion-row>
  <div *ngIf="waiting" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
  <ion-list class="scroll-content" *ngFor="let product of whishlist" class="product-items">
    <ion-card style="margin-bottom: 12px;">
    <div (click)="productDetail(product.item_id)">
      <ion-item>
        <h2>{{product.vendor_name}}</h2>
      </ion-item>
      <ion-img src="{{_config.images_1000}}/{{product.image_path}}"></ion-img>
    </div>
    <ion-card-content>
      <p>{{product.item_name}}</p>
      <p>KD {{product.item_price_per_unit}}</p>
      <button (click)="removeProduct(product.wishlist_id)">
        Remove From wishlist
      </button>
    </ion-card-content>
  </ion-card>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
<div *ngIf="whishlist !== undefined && !whishlist.length" class="no-results">
    <p text-center>No Results</p>
</div>
</ion-content>
