page-forgot-password {

    .item {
        padding-left: 0 !important;
    }

    form {
        margin-bottom: 0px;
    }

    .button { 
        margin-top: 15px;
        padding: 0 !important;
        height: 40px;
    }
    
    .list-md .item-block .item-inner{position: static;}
    .item-md .item-button {padding:18px;}
    .segment-activated{color:#fff!important;}
    .item-select{ min-height: 63px;}
    
    .item-avatar {
        margin: 40px;
    }
    .item-avatar img{width:71%;}
    
    .toolbar-title{margin-right: 71px;font-weight: normal;}
    
    .error-message p{text-align: right;margin: 0px;padding-top: 10px;color:#ff0000!important;}

    .toolbar-background {
        background: white;
        border: none !important;
    }
}

