<!--
  Generated template for the ForgotPassword page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-title>
      Forgot Password
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item class="item-profile" no-border>
        <div class="item-avatar" text-center>
          <img src="http://dev.thewhitebook.com.kw/images/logo.svg">
        </div>
    </ion-item>
    <form [formGroup]="resetForm" (ngSubmit)="sendPassword()" novalidate>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input formControlName="email" type="text"></ion-input>
      </ion-item>
      <div class="error-message" *ngIf="!resetForm.controls.email.valid && (resetForm.controls.email.touched || submitAttempt) ">
        <p *ngIf="resetForm.controls.email.errors.required">Please enter email address</p>
        <p *ngIf="!resetForm.controls.email.errors.required && resetForm.controls.email.errors.invalidEmail">Please enter valid email address</p>
      </div>
      <ion-item text-center no-border margin-top-25>
        <button width-75 ion-button round color="dark">Receive Password</button>
      </ion-item>
      <ion-item text-center no-border>
        <button no-background (click)='dismiss()' font-size-16>Cancel</button>
      </ion-item>
    </form>
  </ion-list>
</ion-content>
