page-forgot-password {
    button {padding: 16px !important;}
    .item-ios.item-block .item-inner{padding-right:0px;}
    .list{margin-top: 60px;}
    .item-avatar img{width: 70%;}
    .error-message p{text-align: right;margin: 0px;padding-top: 10px;color:#ff0000!important;}
}

