<!--
  Generated template for the MyAccount page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{ "My Account" | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-item>
    <ion-title text-center>
      {{ "Update Accocunt Detail" | translate }}
    </ion-title>
  </ion-item>
  <form [formGroup]="profileForm" (ngSubmit)="saveProfile()" novalidate>
    <ion-list>
      <ion-item>
        <ion-label stacked>{{ "First Name" | translate }}</ion-label>
        <ion-input formControlName="firstName" type="text" [(ngModel)]="firstName"></ion-input>
      </ion-item>
      <div class="error-message" *ngIf="!profileForm.controls.firstName.valid && (!profileForm.controls.firstName.touched ||  submitAttempt)">
        <p>{{ "Please enter First name" | translate }}</p>
      </div>

      <ion-item>
        <ion-label stacked>{{ "Last Name" | translate }}</ion-label>
        <ion-input formControlName="lastName" type="text" [(ngModel)]="lastName"></ion-input>
      </ion-item>
      <div class="error-message" *ngIf="!profileForm.controls.lastName.valid && (!profileForm.controls.lastName.touched ||  submitAttempt)">
        <p>{{ "Please enter Last name" | translate }}</p>
      </div>

      <ion-item>
        <ion-label stacked>{{ "Email" | translate }}</ion-label>
        <ion-input formControlName="email" type="text" [(ngModel)]="email"></ion-input>
      </ion-item>
      <div class="error-message" *ngIf="!profileForm.controls.email.valid && (!profileForm.controls.email.touched ||  submitAttempt)">
        <p>{{ "Please enter email address" | translate }}</p>
      </div>

      <ion-item>
        <ion-label stacked>{{ "Date of Birth" | translate }}</ion-label>
        <ion-datetime formControlName="dob" displayFormat="MM/DD/YYYY" [(ngModel)]="dob"></ion-datetime>
      </ion-item>
      <div class="error-message" *ngIf="!profileForm.controls.dob.valid && (!profileForm.controls.dob.touched ||  submitAttempt)">
        <p>{{ "Please enter Date of Birth" | translate }}</p>
      </div>

      <ion-item>
        <ion-label stacked>{{ "Gender" | translate }}</ion-label>
          <ion-select formControlName="gender" [(ngModel)]="gender">
            <ion-option selected='{{gender}} == "Male"' value="Male">{{ "Male" | translate }}</ion-option>
            <ion-option selected='{{gender}} == "Female"' value="Female">{{ "Female" | translate }}</ion-option>
          </ion-select>
      </ion-item>
      <div class="error-message" *ngIf="!profileForm.controls.gender.valid && (!profileForm.controls.gender.touched ||  submitAttempt)">
        <p>{{ "Please select gender" | translate }}</p>
      </div>

      <ion-item>
        <ion-label stacked>{{ "Mobile" | translate }}</ion-label>
        <ion-input formControlName="mobile" type="text" [(ngModel)]="mobile"></ion-input>
      </ion-item>
      <div class="error-message" *ngIf="!profileForm.controls.mobile.valid && (!profileForm.controls.mobile.touched ||  submitAttempt)">
        <p>{{ "Please enter mobile number" | translate }}</p>
      </div>
    </ion-list>
    <div padding>
      <button ion-button round full color="dark">{{ "Save" | translate }}</button>
    </div>
  </form>
</ion-content>

