page-my-events {
    .item-md h2 {font-size: 21px;}
    .ion-md-create {    border-right: 1px solid #dedede;padding-right: 28px;margin-right: 12px;}
}
.padding-top-21{padding-top: 21px!important;}
.padding-16{padding: 16px!important;}
